
.container {
    padding-top: 400px;
    padding-left:10%;
}
/* .container {
    padding-left:42%;
} */
.select-box{
    display:flex;
    width:120px;
    
    flex-direction: column;
}

.select-box .options-container{
background-color: #fbfbfb;
color: #030303;
max-height: 0;
width:100%;
opacity: 0;
transition: all 0.4s;
border-radius: 8px;
overflow: hidden;

order:1;
}


.selected::after {
    content: "";
    background: url("images/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 50px;
    right: 10px;
    top:25px;

    transition: all 0.4s;
}

.select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top:-6px;
}

.selected {
    background: #f6e710;
    border-radius: 8px;
    color: #030303;
    

    order:0;
}

.select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow: scroll;
}

.select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #e6005c;
    border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumbs{
    background: #2e282a;
    border-radius: 0 8px 8px 0;
} 

.select-box .option,
.selected {
    padding: 12px 24px;
    cursor: pointer;
}

.select-box .option:hover{
    background-color: #ff3333;
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
    background-color: greenyellow;
}