.title{
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
    font-size: 30px;
}

.deposit-values{
    position: absolute;
    top: 0;
    bottom: 150px;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    
}

.deposit-values > div > button{
    width: 220px;
    height: 80px;
    font-size: 32px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: var(--background-light-gray);
    cursor: pointer;
}

.deposit-values > div > button:focus{
    background:var(--pink);
    color: white;
}

.input-field{
    position: absolute;
    top: 250px;
    bottom: 0;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
    
}

.input-field > input{
    width: 450px;
    height: 55px;
    background-color: var(--background-light-gray);
    color: #2e2e2e;
    text-align: center;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;   
}

.image{
    position: absolute;
    top: 520px;
    bottom: 0;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.image > img{
    width: 550px;
}

.pay{
    position: absolute;
    top: 750px;
    bottom: 0;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.pay > button{
    width: 300px;
    height: 40px;
    background-color: var(--pink);
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    
}