/* ---------------------General--------------------- */

:root {
	--font-gray: #636363;
	--font-light-gray: #B0B0B0;
	--pink: #F50083;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

ul {
  list-style: none;
  padding: 0px;
}

a {
  text-decoration: none;
}

.clickable:hover {
  opacity: 0.8;
}