/* ---------------------General--------------------- */

:root {
	--font-gray: #636363;
	--pink: #F50083;
}

body {
  margin: 0;
  font-family: 'Avenir LT Std', sans-serif;
}

ul {
  list-style: none;
  padding: 0px;
}

a {
  text-decoration: none;
}

/* ----------------------Search--------------------- */

.input-icons i {
  position: absolute;
}
         
.input-icons {
  width: 100%;
  margin-bottom: 5px;
}
         
.icon {
  padding: 10px;
  color: black;
  min-width: 10px;
  text-align: center;
}   

.input-field {
  border-radius: 25px;
  width: 150%;
  padding: 10px;
  text-align: center;
  color: black;
  background-color: lightgrey;
  font-size: medium;
}

.box{
  width: 1650px;
  height: 100px;
  border: 1px solid #DCDCDC;
  background-color: #DCDCDC;
  margin: 45px;;
  padding: 34px;
  } 
  
.vertical {
  position: absolute;
  top: 24.5%;
  border-left: 5px solid var(--pink);
  height: 169px;
  left: 12%;
}
.title-Game {
    
  font-size: 15px; 
  padding: 10px;
  color:#686868
}

/* ----------------------TicketImageNavbar--------------------- */
#ticketNavbarImg{
  width: 40px;
  /* changing color of image. Algorithm from https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(100%) sepia(0%) saturate(7434%) hue-rotate(353deg) brightness(113%) contrast(113%);
}

 /* ----------------------Sort--------------------- */

#sortRightSearchBar{
  position: absolute;
  top: 9.5%;
  left: 95%;
  width: 30px;
}


/* ----------------------StarRightSearchBar--------------------- */
#starRightSearchBar{
  position: absolute;
  top: 9.7%;
  left: 97%;
  width: 25px;
}

/* ----------------------StarLeftSearchBar--------------------- */
#starLeftSearchBar{
  position: absolute;
  top: 10%;
  left: 12%;
  width: 23px;
}

/* ----------------------FotoSearchBar--------------------- */
#FotoSearchBar{
  position: absolute;
  top: 24.5%;
  left: 2.9%;
  width: 169px;
}

/* ----------------------FotoRiotEnd--------------------- */
#FotoRiotEnd{
  position: absolute;
  top: 38.7%;
  left: 2.9%;
  width: 169px;
}

/* -------------------Purple Line-------------------- */
#purpleLine {
  color: var(--pink);
  margin-top: 70px;
}

/* -------------------Panels-------------------- */
.games-list {
	grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
	display: grid;
	text-align: center;
    
}

.games-list > div {
	width: fit-content;
	display: block;
	margin: auto;
}

.games-list .game {
	width: fit-content;
}

.games-list .game li:nth-child(2) {
	text-align: left;
	font-weight: bold;
}

.games-list .game li:nth-child(2) div:first-child {
	color: var(--font-gray);
}

.games-list .game li:nth-child(2) div:nth-child(2) {
	color: var(--pink);
}
