/* ----------------------Search--------------------- */

.input-icons i {
  position: absolute;
}
         
.input-icons {
  width: 100%;
  margin-bottom: 5px;
  display: flex;
	align-items: center;
}
         
.icon {
  padding: 10px;
  color: black;
  min-width: 10px;
  text-align: center;
}   

.input-field {
  border-radius: 25px;
  width: 150%;
  padding: 10px;
  color: black;
  background-color: lightgrey;
  font-size: medium;
  padding-left: 35px;
  border: none;
}

.input-field:active, .input-field:focus, .input-field:focus-visible {
	border: 2px solid var(--pink);
	outline: none;
}

.box{
  width: 1650px;
  height: 100px;
  border: 1px solid #DCDCDC;
  background-color: #DCDCDC;
  margin: 45px;;
  padding: 34px;
  } 
  
.vertical {
  position: absolute;
  top: 24.5%;
  border-left: 5px solid var(--pink);
  height: 169px;
  left: 12%;
}
.title-Game {
    
  font-size: 15px; 
  padding: 10px;
  color:#686868
}

 /* ----------------------Sort--------------------- */

#sortRightSearchBar{
  position: absolute;
  top: 9.5%;
  left: 95%;
  width: 30px;
}


/* ----------------------StarRightSearchBar--------------------- */
#starRightSearchBar{
  position: absolute;
  top: 9.7%;
  left: 97%;
  width: 25px;
}

/* ----------------------StarLeftSearchBar--------------------- */
#starLeftSearchBar{
  position: absolute;
  top: 10%;
  left: 12%;
  width: 23px;
}

/* ----------------------FotoSearchBar--------------------- */
#FotoSearchBar{
  position: absolute;
  top: 24.5%;
  left: 2.9%;
  width: 169px;
}

/* ----------------------FotoRiotEnd--------------------- */
#FotoRiotEnd{
  position: absolute;
  top: 38.7%;
  left: 2.9%;
  width: 169px;
}

/* -------------------Purple Line-------------------- */
#purpleLine {
  color: var(--pink);
  margin: 0;
}

/* -------------------Panels-------------------- */
.games-list {
	grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
	display: grid;
	text-align: center;
	position: relative;
    
}

.games-list > p {
	text-align: center;
	width: 100%;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
	font-size: 20px;
	color: var(--font-gray);
	font-weight: bold;
	top: 25;
}

.games-list > div {
	width: fit-content;
	display: block;
	margin: auto;
}

.games-list .game {
	width: fit-content;
	transition: 0.3s;
}

.games-list .game li:first-child {
	overflow: hidden;
}

.games-list .game li:first-child img {
	transition: 0.3s;
}

.games-list .game li:nth-child(2) {
	text-align: left;
	font-weight: bold;
}

.games-list .game li:nth-child(2) div:first-child {
	color: var(--font-gray);
}

.games-list .game li:nth-child(2) div:nth-child(2) {
	color: var(--pink);
}

.ticket-button {
  position: fixed;
  background-color: var(--pink);
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 6px 0px black;
  transition: 0.2s; 
  border: 3px solid white;
}

.ticket-button img {
  width: 40px;
  filter: invert(1);
  padding: 20px; 
  transition: 0.2s; 
}

.ticket-button:hover {
  background-color: var(--font-gray);
}

.ticket-button:hover img {
  width: 50px
}

.ticket-popup {
  position: fixed;
  right: 0;
  width: 440px;
  background-color: white;
  height: 93%;
  z-index: 2;
  top: 69px;
  box-shadow: 2px 4px 5px 0px black;
  transition: 0.3s;
  transform: translateX(0px);
}

.ticket-popup > div:nth-child(1) {
  margin-top: 40px;
}

.ticket-popup > div:nth-child(1) > div {
  margin-top: 20px;
}

.ticket-popup > div:nth-child(1) > div:nth-child(1) {
  background-color: white;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  box-shadow: 0px 3px 5px -1px gray;
  margin: auto;
  position: relative;
  cursor: pointer;
}

.ticket-popup > div:nth-child(1) > div:nth-child(1) > div {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
}

.ticket-popup > div:nth-child(1) > div:nth-child(1) > div > div {
  width: 34px;
  height: 2px;
  background-color: var(--pink);
}

.ticket-popup > div:nth-child(1) > div:nth-child(1) > div > div:nth-child(1) {
  transform: rotate(45deg);
}

.ticket-popup > div:nth-child(1) > div:nth-child(1) > div > div:nth-child(2) {
  transform: rotate(-45deg) translateX(1px) translateY(-1px);
}

.ticket-popup > div:nth-child(1) > div:nth-child(2) {
  text-align: center;
  font-size: 30px;
  padding: 30px;
  border-bottom: 2px solid var(--pink);
  margin: 0 30px;
  color: var(--pink);
  font-weight: bold;
}

.ticket-popup > div:nth-child(1) > .no-bets {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  color: var(--font-gray);
  font-size: 20px;
}

.ticket-popup > div:nth-child(1) > div:nth-child(3) > ul {
  display: flex;
  column-gap: 5px;
  width: 90%;
  margin: auto;
}

.ticket-popup > div:nth-child(1) > div:nth-child(3) > ul > li {
  padding: 10px;
  background-color: lightgray;
  border-radius: 30px;
  width: 100%;
  text-align: center;
  color: white;
}

.ticket-popup > div:nth-child(2) {
  width: 100%;
  background-color: var(--pink);
  height: 140px;
  position: absolute;
  bottom: 0;
  border-radius: 10px 10px 0px 0px;
  color: white;
  font-weight: bold;
}

.ticket-popup > div:nth-child(2) > div:nth-child(1) {
  padding: 20px 35px;
}

.ticket-popup > div:nth-child(2) > div:nth-child(1) > div:nth-child(odd) {
  position: relative;
}

.ticket-popup > div:nth-child(2) >div:nth-child(1) > div:nth-child(even) {
  height: 30px;
}

.ticket-popup > div:nth-child(2) >div:nth-child(1) > div:nth-child(odd) > div {
  position: absolute;
}

.ticket-popup > div:nth-child(2) >div:nth-child(1) > div:nth-child(odd) > div:nth-child(1) {
  left: 0;
}

.ticket-popup > div:nth-child(2) >div:nth-child(1) > div:nth-child(odd) > div:nth-child(2) {
  right: 0;
}

.ticket-popup > div:nth-child(2) >div:nth-child(1) .money-input {
  display: flex;
  align-items: center;
  border-bottom: 2px solid white;
  margin-top: -4px;
}

.ticket-popup > div:nth-child(2) >div:nth-child(1) .money-input > input {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
  width: 65px;
}

.ticket-popup > div:nth-child(2) >div:nth-child(1) .money-input > div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ticket-popup > div:nth-child(2) >div:nth-child(1) .money-input > div > img {
  width: 14px;
  filter: invert(1);
  margin-left: 6px;
  height: 16px;
}


.ticket-popup > div:nth-child(2) > div:nth-child(2) {
  border: none;
  padding: 10px;
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  width: 83%;
  text-align: center;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto;
  color: var(--font-gray);
}

.ticket-popup-closed {
  transform: translateX(440px);
}