.title{
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
    font-size: 30px;
}

.middle-buttons{
    position: absolute;
    top: 0;
    bottom: 150px;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.middle-buttons > div{
    align-items: top;
    display: flex;
    flex-direction: table-column;
    column-gap: 250px; 
}

/* Deposit && Withdraw div */
.middle-buttons > div:nth-child(1) > div:nth-child(1){
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
    
}

/* money, above deposit */
.middle-buttons > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    font-size:60px;
    font-weight: bold;
    color: var(--pink);
}

/* Deposit && Withdraw buttons */
.middle-buttons > div:nth-child(1) > div:nth-child(1) > a > button{ 
    width: 350px;
    height: 50px;
    font-size: 40px;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 10px;
}
/* button deposit */
.middle-buttons > div:nth-child(1) > div:nth-child(1) > a:nth-child(2) > button{
    background-color: var(--pink);
}
/* button Withdraw */
.middle-buttons > div:nth-child(1) > div:nth-child(1) > a:nth-child(3) > button{
    background-color: var(--font-gray);
}

/* Points div */
.middle-buttons > div:nth-child(1) > div:nth-child(2){
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
}

/* Points above win GB points */
.middle-buttons > div:nth-child(1) > div:nth-child(2) > div:nth-child(1){
    font-size:60px;
    font-weight: bold;
    color: var(--light-green);
}

/* Points button */
.middle-buttons > div:nth-child(1) > div:nth-child(2) > a > button{
    width: 350px;
    height: 50px;
    font-size: 35px;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 10px;;
    background-color: var(--light-green);
}

#line{
    position: absolute;
    top: 160px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40%;
    height: 0;
    margin: auto;

    color: var(--font-gray);
}

.bottom-buttons{
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
     

}
/* 1st three buttons */
.bottom-buttons > a > button{
    width: 350px; 
    height: 40px;
    background-color: #d9d9d9;
    color: var(--font-gray);
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.bottom-buttons > a{
    position:relative;
}

.bottom-buttons > a > div{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: fit-content;
    margin: auto;
}

.bottom-buttons > a > div > button{
    height: 38px;
    color: white;
    background-color: var(--pink);
    border: none;
    font-size: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
    width: 75px;
    cursor: pointer;

}








