.faq-heading{
    width: fit-content;
    margin: auto;
    font-size: 45px; 
    margin-bottom: 150px;
    
}
.faq-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hr-line{
  width: 100%;
  margin: auto;
  background-color: var(--pink);
  
}
.faq-page {
    color: var(--pink);
    cursor: pointer;
    padding: 30px 20px;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
}
.faq-body{
   margin: auto;
   text-align: center; 
   width: 50%; 
   padding: auto;
   
}

.active,
.faq-page:hover {
    background-color: #ebe4e4;
}

.faq-body {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
.faq-page:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2796";
}

